@font-face {
  font-family: "iconfont"; /* Project id 3912469 */
  src: url('iconfont.woff2?t=1677134101715') format('woff2'),
       url('iconfont.woff?t=1677134101715') format('woff'),
       url('iconfont.ttf?t=1677134101715') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-douyin:before {
  content: "\e601";
}

.icon-kuaishou:before {
  content: "\e602";
}

.icon-xiaomi:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-Keep:before {
  content: "\e605";
}

.icon-Chrome:before {
  content: "\e606";
}

.icon-QQ:before {
  content: "\e607";
}

.icon-youku:before {
  content: "\e608";
}

.icon-baidu-copy:before {
  content: "\e609";
}

.icon-tengxunshipin:before {
  content: "\e60a";
}

.icon-bilibili:before {
  content: "\e60b";
}

.icon-Word:before {
  content: "\e60c";
}

.icon-Excel:before {
  content: "\e60d";
}

.icon-PowerPoint:before {
  content: "\e60e";
}

.icon-tengxunhuiyi:before {
  content: "\e60f";
}

.icon-wangyiyunyinle:before {
  content: "\e610";
}

.icon-Safariliulanqi:before {
  content: "\e611";
}

.icon-ditu:before {
  content: "\e612";
}

.icon-Docker:before {
  content: "\e613";
}

.icon-vscode:before {
  content: "\e614";
}

.icon-baiduwangpan:before {
  content: "\e615";
}

.icon-yinxiangbiji:before {
  content: "\e616";
}

.icon-yinliang:before {
  content: "\10100";
}

.icon-guanbiyinliang:before {
  content: "\10101";
}

.icon-shangchuan:before {
  content: "\10102";
}

.icon-shezhi:before {
  content: "\10103";
}

.icon-sousuo:before {
  content: "\10104";
}

.icon-suoxiao:before {
  content: "\10105";
}

.icon-wode:before {
  content: "\10106";
}

.icon-xiazai:before {
  content: "\10107";
}

.icon-zengjia1:before {
  content: "\10108";
}

.icon-xinxi:before {
  content: "\10109";
}

.icon-xiangji:before {
  content: "\1010a";
}

.icon-zengjiayinliang:before {
  content: "\1010b";
}

.icon-zanting:before {
  content: "\1010c";
}

.icon-jianxiaoyinliang:before {
  content: "\1010d";
}

.icon-shanchu:before {
  content: "\1010e";
}

.icon-guanbi:before {
  content: "\1010f";
}

.icon-fangda:before {
  content: "\10110";
}

.icon-jiemi:before {
  content: "\10111";
}

.icon-jingyin:before {
  content: "\10112";
}

.icon-guanbi1:before {
  content: "\10113";
}

.icon-yinliang1:before {
  content: "\10114";
}

.icon-rightarrow:before {
  content: "\e617";
}

.icon-leftarrow:before {
  content: "\e618";
}

.icon-uparrow:before {
  content: "\e619";
}

.icon-downarrow:before {
  content: "\e61a";
}

.icon-system:before {
  content: "\e61b";
}

.icon-shouye:before {
  content: "\e61c";
}

.icon-begin:before {
  content: "\e61d";
}

.icon-stop:before {
  content: "\e61e";
}

.icon-home:before {
  content: "\e61f";
}

.icon-system1:before {
  content: "\e620";
}

.icon-list:before {
  content: "\e621";
}

.icon-lock:before {
  content: "\e622";
}

.icon-eye-open:before {
  content: "\e623";
}

.icon-message:before {
  content: "\e624";
}

.icon-password:before {
  content: "\e625";
}

.icon-star:before {
  content: "\e626";
}

.icon-shopping:before {
  content: "\e627";
}

.icon-search:before {
  content: "\e628";
}

.icon-qq:before {
  content: "\e629";
}

.icon-eye:before {
  content: "\e62a";
}

.icon-email:before {
  content: "\e62b";
}

.icon-wechat:before {
  content: "\e62c";
}

.icon-zengjia:before {
  content: "\e889";
}

.icon-jianhao_o:before {
  content: "\eb79";
}

