* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
}
html,
body,
#root,
.App,
.classify {
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.App {
  display: flex;
  flex-direction: column;
}
.App section {
  flex: 1;
  overflow: auto;
}
.App section > div {
  width: 100%;
  height: 100%;
}
.App section .home {
  display: flex;
  flex-direction: column;
  position: relative;
}
.App section .home header {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  color: #fff;
  padding: 10px;
}
.App section .home header a {
  color: #fff;
}
.App section .home header .input-box {
  background: #cccccca1;
  border-radius: 3px;
  margin: 0 10px;
  display: flex;
  padding: 0 10px;
  flex: 1;
}
.App section .home header .input-box input {
  flex: 1;
  background: transparent;
  margin: 0 5px;
}
.App section .home header .input-box ::-webkit-input-placeholder {
  color: #fff;
}
.App section .home main {
  flex: 1;
  overflow: auto;
  background: #efefef;
}
.App section .home main .slideshow {
  height: 250px;
  position: relative;
}
.App section .home main .slideshow .slide {
  width: 100%;
  height: 100%;
}
.App section .home main .slideshow .slide img {
  width: 100%;
  height: 100%;
  display: none;
}
.App section .home main .slideshow .slide .active {
  display: block;
}
.App section .home main .slideshow .show {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App section .home main .slideshow .show ul {
  display: flex;
}
.App section .home main .slideshow .show ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  margin: 0 5px;
}
.App section .home main .slideshow .show ul .active {
  background: #007aff;
  opacity: 1;
}
.App section .home main nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 0;
  background: #fff;
}
.App section .home main nav div {
  text-align: center;
  color: #000;
}
.App section .home main nav div a {
  color: #000;
}
.App section .home main .recom-nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App section .home main .recom-nav .line {
  width: 35%;
  height: 1px;
  background: #d4d4d4;
}
.App section .home main .recom-nav .recom-wrap {
  width: 22%;
  display: flex;
  justify-content: space-between;
}
.App section .home main .recom-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.App section .home main .recom-box > div {
  width: 45%;
  background: #fff;
  margin-bottom: 10px;
}
.App section .home main .recom-box .recom-img {
  width: 100%;
}
.App section .home main .recom-box .recom-img img {
  width: 100%;
}
.App section .home main .recom-box .recom-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.App section .home main .recom-box .recom-price {
  color: red;
}
.App footer {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  text-align: center;
}
.App footer a {
  color: #000;
}
.App footer .active {
  color: red;
}
.classify {
  display: flex;
  flex-direction: column;
}
.classify > div {
  height: 100%;
}
.classify .item {
  display: flex;
  flex-direction: column;
}
.classify .item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid #efefef;
}
.classify .item header .input-box {
  border: 1px solid #b2b2b2;
  flex: 1;
  margin: 0 10px;
  border-radius: 3px;
  padding: 3px 5px;
}
.classify .item main {
  flex: 1;
  overflow: auto;
  display: flex;
}
.classify .item main .left {
  overflow: auto;
}
.classify .item main .left > div {
  border-bottom: 1px solid #efefef;
  padding: 10px 10px;
  text-align: center;
}
.classify .item main .left .active {
  color: red;
}
.classify .item main .right {
  flex: 1;
  overflow: auto;
  background: #efefef;
  padding: 5px 15px;
}
.classify .item main .right .card-box .title {
  padding: 10px 0;
}
.classify .item main .right .card-box .card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.classify .item main .right .card-box .card > div {
  width: 33%;
  padding: 10px;
}
.classify .item main .right .card-box .card > div img {
  width: 100%;
}
.classify .item main .right .card-box .card > div p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
